@import 'src/styles/vars';
.profilepage{
  width: 75%;
  box-sizing: border-box;
  background-color: #0B0C10;
  color: rgb(226, 220, 220);
  background-image: url(../../assets/04322d63.png);
}
.profilepage h3{
  padding: 20px;
}
.LastestEvent-modules{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LastestEvent-module{
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #949494;

  width:200px;
}

.details{
  position: absolute;
  bottom: 0;
  left:1em;
  color: white;
  height: 5em;

}
.details h1{
  font-size: 3.8em;

}
.avatar{
  height: 18vh;
  position: absolute;
  bottom: 1.8em;
  left: .5em;

}
.container-avatar{
  position: relative;

}
.container-banner{
  position: relative;
  height: 35vh;
}
.profilepage-header{
  position: relative;
} 

.banner{
  height: 35vh;
  width: 100%;
  position: absolute;
}
