@import 'src/styles/vars';

.personnalprofilepage {

  box-sizing: border-box;
  background-color: #0b0c10;
  color: white;
  padding-top: 1em;
  margin-bottom:1em;
  background-image: url(../../assets/04322d63.png);

  &-header{
    position: relative;
    display: flex;
    justify-content: center;
    height: 30vh;
  }
  &-body{
    display: flex;
    flex-direction: column;
  }
}
.profilepage{
  &-button{
    padding-top: 2em;
    align-self: center;
    z-index: 2;
  }
}
.personnalprofilepage-titre {
  padding-top: 2em;

}

.personnalprofilepage-description {


}

.personnalprofilepage-game-user {


}

.personnalprofilepage-game-user-info {

}

.button-modal {
  z-index: 3!important;
  border: solid #66fcf1 !important;
  background: none !important;
  color: #66fcf1 !important;
}

.button-modal:hover {
  z-index: 3!important;
  background: #66fcf1 !important;
  color: #2b8484 !important;
}

.Event-modules {
 margin-bottom: 2em;
}

.banner-modal {
  border: solid #66fcf285 !important;
  background: #161c2481 !important;
  color: white !important;
}

.banner-input {
 
}

.banner-modal-titre {
  background: #161c248a !important;
  color: white !important;
}

.banner-actions {
  background: #0c101500!important;
}

.banner-buttonData {
  border: solid #66fcf1 !important;
  background: none !important;
  color: #66fcf1 !important;
}

.banner-buttonData:hover {
  background: #66fcf1 !important;
  color: #2b8484 !important;
}

.modal-info {
  border: solid #66fcf28e !important;
  background: #161c24c0 !important;
  color: white !important;
}

.modal-info-titre {
  background: #10161c8a !important;
  color: white !important;
}

.modal-info-action {
  background: #161c2481 !important;
}


.modal-info-content {
 
  background-image: url(../../assets/tresh.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 98% 150%;
}

.information-input {
  color: white !important;
}

.ui.form input[type='text'] {
  background: radial-gradient(
    circle,
    #6dffff11,
    #6dffff10,
    #6dffff00
  ) !important;
  color: white !important;
  box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffff93 !important;
}

.modal-game {
  border: solid #66fcf28e !important;
  background: #161c24c0 !important;
  color: white !important;
}

.modal-game-titre {
  background: #10161c8a !important;
  color: white !important;
}

.modal-game-select {
  background: #10161c8a !important;
  font-size: 1.3em;
}

.modal-game-action {
  background: #10161c8a !important;
}
.container-modal-avatar {

}
.Button-avatar {
  position: absolute;
  bottom: 50%;
  right:40%;
  background: none !important;
  border-radius: 50% !important;
  color: #66fcf1 !important;
  z-index: 2;
}
.container-modal-avatar:hover > .Button-avatar {
 
}
.Button-banner {
  display: none!important;
  background: none !important;
  border-radius: 50% !important;
  color: #66fcf1 !important;
  z-index: 2;
}

.container-modal-banner {

}
.container-modal-banner:hover > .Button-banner {

}
.container-banner {

}

.banner-modal-img {
display: none;
z-index: 2;
}
.banner {


}
.details{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 2;
}
.test-description{
  z-index: 2;
  text-shadow: 2px 2px 2px #000000;
}
.details h1 {
  margin-top: 0em;
  z-index: 2;
}

.default-mess {
  font-style: italic;
}
.avatar {
  border-radius: 50%;
  max-width: 150px;
  z-index: 2;
  
}
.avatar-modal-img {
 
}

/******************************/

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
// .custom-file-input::before {
//   margin-top: 2rem !important; // passage en dessous de "aucun"fichier choisi
//   margin-left: 5.8rem !important; // décalage gauche par rapport a "aucun fichier choisi"
//   content: 'Select some files' !important;
//   display: inline-block !important;
//   box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 2px #6dffff93!important;
//   border-radius: 3px !important;
//   padding: 0.5rem 1rem !important;
//   white-space: nowrap !important;
//   -webkit-user-select: none !important;
//   cursor: pointer !important;
//   font-weight: bold !important;
//   font-size: 1.2rem !important;
//   color: #66fcf1;
// }


.custom-file-input:active::before {
  // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  // margin: inherit !important;
  border: none !important;
  background-color: #66fcf1 !important;
  color: #2b8484 !important;
  box-shadow: none !important;
}

.testouillage {
 
}
.avatar-modal {
  border: solid #66fcf285 !important;
  background: #161c2481 !important;
  color: white !important;
}

.avatar-input {
  background: #0c0f14  !important;

}

.avatar-modal-titre {
  background: #0c0f14 !important;
  color: white !important;
}

.avatar-actions {
  background:  #0c0f14 !important;
}

.avatar-buttonData {
  border: solid #66fcf1 !important;
  background: none !important;
  color: #66fcf1 !important;
}

.avatar-buttonData:hover {
  background: #66fcf1 !important;
  color: #2b8484 !important;
}

.avatar-file-label {
  background: #0c0f14  !important;
  font-size: 1.3em;
}

@media screen and (min-width:1200px){
  .personnalprofilepage {
    padding-left:10vw ;
    width: 90vw;
    padding-top:0 ;
  }
  .header-home{
    width: 80vw;
    &--bannerimg{

      width: 80vw;
    }
  }
  .banner-modal-img {
    display: block;
    position: absolute;
    width: 100%;
    max-height: 30vh;
    top: 0;
    left: 0;
    z-index: 0;
    }

}