.TopPlayers{

  flex-direction: row;
}
.user-card-group{
  display: flex;
  justify-content: center;
}
.user-card{

    padding: 1em;
    margin: 1em!important;
    font-size: 0.8em;
    background: none!important;
    color: white!important;
    box-shadow: 0 1px 3px 0 #6dffff, 0 0 0 1px #6dffff!important;

}
.user-image{
  border-radius: 50%;
}
