.TopPlayer{
  margin:2em;
}

.TopPlayer-modules{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.TopPlayer-module{
  align-items: center;
  border-radius: 10px;
  border: 3px solid #949494;
  background-color: rgb(173, 173, 173);
  margin: 1.5%;
}

.user{
  max-height: 40%;
}

.user-text{
  margin-top: 2%;
  margin-left: 10%;
}
