.TopPlayers{

  

}
.user-card-group{
  flex-wrap: wrap!important;
  padding: 1em;
  flex-wrap: nowrap!important;
  overflow: auto;
  margin: 3em;
}
.user-card{

  background: none!important;
  background-image: radial-gradient(circle, #6dffff11 , #6dffff10  , #6dffff00  )!important;
  color: white!important;
  box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffff93!important;
  border: none!important;
  margin-left:1em!important ;
  margin-bottom: 1em!important;

}
.user-card:hover{
  transform: translate(0, -5px);
}
.user-image{

}

.slide_container{

}
.playerRank{
  color: #d1b450;
  font-weight: bold;
}
