@import 'src/styles/vars';

.navbar {
  background-image: url(../../assets/bgtexture.png);
  background-color: $color-gris-fonce;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 100vw;
  position: fixed;
  bottom: .5em;
  left: 0;
  justify-content: center;
  &-logo {
  }

  &-logo:hover {
    color: $color-bleu-fluo;
  }

  &-nav {

    &-link {
   padding-left: 0.2em!important;
   padding-right: 0.2em!important;
    }
  }

}
.button .ui{
  padding: .5em;
}
.header-nav{

 display: none;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.navbar-nav{
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: .8em;
  width: 100vw;
}