@import 'src/styles/vars';

.navbar {
  background-image: url(../../assets/bgtexture.png);

  background-attachment: fixed;
  background-color: $color-gris-fonce;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 150px;
  min-width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;


  &-logo {
    font-size: 2em;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
  }

  &-logo:hover {
    color: $color-bleu-fluo;
  }

  &-nav {
    font-size: .9em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-link {
      width: 90%;
      margin-top: 3rem;
      display: flex;
      line-height: 10px;
    }
  }

}

.header-nav{
  height: 80px;
  display: flex;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
