.CreatEventPage{
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.titreCreateEventPage{
  width: 100%;
  padding: 2em;
  margin: auto;
  display: flex;
  justify-content: center
 
}

.form{
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    display: flex;
flex-wrap: wrap;
}


.select{
  width: 50%;
  padding: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button{
  width: 100%;
  padding: 2em;
  margin: auto;
  display: flex;
  justify-content: center
  ;
}
