.CreatEventPage{
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.form{
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


