@import 'src/styles/vars';

.SearchEventPage{
  background-image: url(../../assets/bgtexture.png);
  width: 77%;
  margin-left: 150px;
  color: $color-blanc;
}

.searchForm {
  width: 80%;
  align-items: center;

  &-title {
    padding-bottom: 1em;
  }

  &-rank-container{
    width: 50%;
    align-items: center;
  }

  &-btn-container {
    margin-top: 2rem !important;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  &-btn-resetFilters {
    width: 90%;
    margin-top: 1rem !important;
  }
}

.searchResults {
  text-align: center;
  &-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }

  &-card {
    background-color: $color-gris-fonce !important;
  }
}
