@import 'src/styles/vars';

.SearchEventPage{

}
.form-side{



}
.result-side{


}
.searchForm {


  &-title{

  }
}
.form-side>.form{

}
.result-side>.ui.cards{

}
.result-side{

}

.searchResults {


  &-title {

  }

  &-card {


  }
}
.card-container{

}
.searchResults-card{


}
.searchResults-card>:first-child{

}
.card-button{

}
.elm-star{

}
.lol{

}
.descript-spe{

}

// ANIMATION
@keyframes slideUp {
  0% {opacity: 0;
    transform: translateY(200px);}
    50%{opacity: 0;}
  100% {opacity: 1;
    transform: translateY(0px);}}
.slide-up0
{

  animation:slideUp 0s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;

}

.slide-up1
{
 
  animation:slideUp  0.5s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-up2
{
  animation:slideUp  1s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up3
{
  animation:slideUp  1.5s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up4
{
  animation:slideUp  1.9s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up5
{
  animation:slideUp  2.4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up6
{
  animation:slideUp  2.8s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-up7
{
  animation:slideUp  3s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-up8
{
  animation:slideUp  3.2s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up9
{
  animation:slideUp  3.4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up10
{
  animation:slideUp  3.6s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up11
{
  animation:slideUp  3.8s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-up12
{
  animation:slideUp  4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.nick-search{

}
.desc-search{

}
.nick-search{
  
}
.lang-search{

}
