
.event-card-group{
  display: flex;
  margin: 0!important;
  justify-content: center;



}
.event-card{
  padding: 1em;
  width: 12vw!important;
  height: 12vw!important;
  margin: 1em!important;
  font-size: 0.8em;
  background: none!important;
  background-image: radial-gradient(circle, #6dffff11 , #6dffff10  , #6dffff00  )!important;
  color: white!important;
  box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffff93!important;
  border: none!important;
  

}

.nickname{
  font-weight: bold;
  color: #164f6c;
}
.rank{
  font-weight: bold;
  color: #fece66; 
}
.descript, .view-details{
  font-style: italic;
}
.starting, .number{
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}
.view-details{
  font-weight: bold;
  color: #66fcf2;
} 

.iron{
  color: #d7d7d4
}
.bronze{
  color: #93573a
}
.silv{
  color: #8d9fa5
}
.gold{
  color: #d1b450
}
.plat{
  color: #55c2b0
}
.diam{
  color: #8758d5
}
.chal{
  color: #35bff7
}

@keyframes fadeIn {
  0% {opacity: 0;
    transform: translate(200px);}
    50%{opacity: 0;}
  100% {opacity: 1;
    transform: translate(0px);}}
.slide-in0
{

  animation:fadeIn 0s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;

}

.slide-in1
{
 
  animation:fadeIn  0.5s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-in2
{
  animation:fadeIn  1s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in3
{
  animation:fadeIn  1.5s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in4
{
  animation:fadeIn  1.9s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in5
{
  animation:fadeIn  2.4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in6
{
  animation:fadeIn  2.8s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-in7
{
  animation:fadeIn  3s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.slide-in8
{
  animation:fadeIn  3.2s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in9
{
  animation:fadeIn  3.4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in10
{
  animation:fadeIn  3.6s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in11
{
  animation:fadeIn  3.8s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}
.slide-in12
{
  animation:fadeIn  4s cubic-bezier(0.02, 0.79, 0.34, 0.98)  !important;
}

.event-card:hover{
  transform: translate(0, -5px);
  background-position: right center!important; 
}
.ui.card>.content>.description, .ui.cards>.card>.content>.description,.ui.card>.content {
  clear: both;
  color: rgba(255, 255, 255, 0.68);
  font-size: 1.2em;
}
.ui.card>.content>.meta{
  color: rgba(255, 255, 255, 0.68);
  font-size: 1.3em;
}
.view-details{
  text-align: right;
}
.titre{
  margin: 2em;
}
