.event-card-group{
  display: flex;
  margin: 0!important;
  
  justify-content: center;
}
.event-card{
  padding: 1em;
  margin: 1em!important;
  font-size: 0.8em;
  background: none!important;
  color: white!important;
  box-shadow: 0 1px 3px 0 #6dffff, 0 0 0 1px #6dffff!important;
}
.LastestEvent-module{

}
.ui.card>.content>.description, .ui.cards>.card>.content>.description,.ui.card>.content {
  clear: both;
  color: rgba(255, 255, 255, 0.68);
  font-size: 1.2em;
}
.ui.card>.content>.meta{
  color: rgba(255, 255, 255, 0.68);
  font-size: 1.3em;
}
.view-details{
  text-align: right;
}
