@import 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.eventpage {
  background-image: url(../../assets/bgtexture.png);
  width: 76.1%;
  margin-left: 11vw;
  color: $color-blanc;
  padding: 2em;
  // background-color: #0B0C10;
  // color: rgb(226, 220, 220);
  &-title {
    margin-bottom: 3rem;
  }

  &-informations {
    margin-bottom: 1rem;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }

  &-form {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }

  &-apply-btn {
    text-align: center;
    margin-top: 0.5rem !important;
    width: 200px !important;
  }
}

.for-bg{
  width: 100%;
  background-image: url(../../assets/background-event.jpg);
  padding: 2em!important;
}
.evt-title{
  font-family: 'Righteous', cursive; 
  font-size: 1.8em;
  padding-bottom: .5em;
  margin-left: 5.2em;
  text-shadow: 2px 2px 2px #000000;
}
.toflex{
  display: flex;
  justify-content: center;
}
.event {


  &-apply-btn {
    margin-top: 1em;
  }

  &-members {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &-applicants {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &-playercard {
    min-height: 220px !important;
    margin-right: 2rem !important;
    background-color: $color-gris-fonce !important;
    color: $color-blanc !important;
    font-size: 0.8rem;
    box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffff93 !important;

    &-nickname {
      font-size: 1.5rem !important;
      color: $color-blanc !important;
      margin-bottom: 0.5em;
    }

    &-apply-btns {
      margin-top: 0.5rem !important;
    }
  }
  
  &-playercard-member {
    min-height: 150px !important;
    margin-right: 2rem !important;
    background-color: $color-gris-fonce !important;
    color: $color-blanc !important;
    font-size: 0.8rem;
    box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffff93 !important;
  }
}

.evt-creator{
  color: #66fcf2 !important;
  font-size: 1.4em;
  background-color: #00000098;
  padding: 0.5em;
  text-align: center;

}
.span-it{
  font-style: italic;
}
.evt-start{
  font-size: 2em;
}
.lol-account, .lol-rank{
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
}
.lol-rank{
 color: blue;
}
.eye-a{
  text-align: center;
}
.input-event{
  background-color:#00000090;
  color: #fff;
}
.div-descript-evt{
  font-size: 1.4em;
  text-align: center;
  color: rgb(46, 46, 54);
  padding-bottom: 0.5em;
}
.div-descript-evt-span{
  font-weight: bold;
  font-style: italic;
  padding-top: 0.5em;
  color: #fff;
}
.card-evt-page{
  background-color: #00000090!important;
  margin-top: 1em!important;
  text-align: center;
  display: flex;
  width: 80%!important;

}

.evt-vocal{
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  padding-top: .5em;
  margin-right: 6.5em;
  text-shadow: 2px 2px 2px #000000;
}

.kick-button {
  margin-top: .25em !important;
};
