@import 'src/styles/vars';

.eventpage{
  width: 75%;
  margin-left: 10%;
  margin-right: 15%;
  box-sizing: border-box;
  padding: 2em;
  // background-color: #0B0C10;
  // color: rgb(226, 220, 220);
}
