@import 'src/styles/vars';

.HomePage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 15%;
  padding: 2em;
  background-image: url(../../assets/bgimg.jpg);
  background-position: center;
  background-size: 80%;
  background-attachment: fixed;
  color: $color-bleu-fonce;
}

.titre {
  font-family: 'Orbitron', sans-serif;
}
