@import 'src/styles/vars';
.HomePage{
  background-image: url(../../assets/bgtexture.png);

  background-attachment: fixed;
  color: $color-bleu-fonce;
  height: 100vh;

}

.header-home{
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 15vw;
  background-image: url(../../assets/header-banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
 
  background-color:#161c24d0;
  &--img{
    margin:auto ;
    width: 30%;
    padding-top:2em ;
  }
}
.titre {
  font-family: 'Righteous', sans-serif;
}

