.loginpage {
  margin-left: 10%;
  margin-right: 15%;
  width: 100%;
}

.loginform {
  width: 50%;
  padding: 2em;
  margin: auto;
  margin-top: 30vh;
  transform: translateY(-30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
