@import 'src/styles/vars';

.profilepage{
  width: 80%;
  margin-left:170px; 
  box-sizing: border-box;
  background-color: #0B0C10;
  color: rgb(226, 220, 220);
  background-image: url(../../assets/04322d63.png);
}

.details{
  position: absolute;
  bottom: 0;
  left:1em;
  color: white;
  height: 5em;

}

.avatar{
  height: 18vh;
  position: absolute;
  bottom: 1.8em;
  left: .5em;

}
.container-avatar{
  position: relative;

}
.container-banner{
  position: relative;
  height: 35vh;
}
.profilepage-header{
  position: relative;
} 

.banner{
  height: 35vh;
  width: 100%;
  position: absolute;
}

.profilepage-titre{
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.5em;
}

.profilepage-description{

  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 2%;
  font-size: 1.5em;
 }

 .profilepage-game-user{
  
  margin-left: 5%;
  margin-right: 2%;
  font-size: 1.1em;
 }

 .profilepage-game-user-info{
  margin-bottom: 1%;
 }

 .modal-invitation-titre{
  background:#10161c8a !important;
  color: white !important;
}

.modal-invitation-action{
  background:#10161c8a !important;
}
.modal-invitation{
  border: solid #66fcf28e !important;
  background:#161c24c0 !important;
  color: white !important;
}
