
@import 'src/styles/vars';
::-webkit-scrollbar {
  width: 2px !important; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background:$color-bleu-fluo !important;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0!important;
  font-family: 'Orbitron', sans-serif;
}


.stretched.row .column { padding: 0; }
