
@import 'src/styles/vars';


.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0!important;
  font-family: 'Orbitron', sans-serif;
}


.stretched.row .column { padding: 0; }
