.global {

  background-image: url(../../assets/machin.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 75%;
  background-position-y: 50%;
}

.RegistrationPage {
 
  box-shadow: 0 1px 3px 0 #6dffff85, 0 0 0 1px #6dffffd0!important;
}
@media screen and (min-width:1200px){
  .global {
    padding-left:10vw ;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .RegistrationPage{
    height: 70vh;
    width: 70%;
  }
}