@import 'src/styles/vars';

.gettingstarted{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 82%;
  margin-left: 180px;


  color: $color-bleu-fonce;
}
.gettingstarted-bloc{
  border: 2px solid $color-bleu-fonce;
  border-radius: 20px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: inline-block;
  position: relative;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-image: url(../../assets/gathering.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gettingstarted-bloc2{
  border: 2px solid $color-bleu-fonce;
  border-radius: 20px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  height: 75vh;
  width: 95%;
  background-image: url(../../assets/gather2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.textInBlock{
  font-size: 1.5em;
  color: #66fcf2ce
}
.gettingstarted-bloc-textFirst{
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 4em;
  padding: 1em;
  left: 2em;
  z-index: 1;
  width: 70%;
  background-color: #0b0c10b0;
}
.gettingstarted-bloc-textSecond{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20%;
  padding: 1em;
  right: 10%;
  z-index: 1;
  width: 70%;
  background-color: #0b0c10b0;
}
.gettingstarted-bloc-image{
  width: 70%;
}
.gettingstarted-bloc-titre {
  font-size: 3em;
  font-family: 'Orbitron', sans-serif;
}

.gettingstarted-bloc2{
  display: inline-block;
}
.gettingstarted-bloc-text2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  top: 50em; 
  left: 5em;
  z-index: 1;
  width: 70%;
  height: 20em;
  background-color: #0b0c10b0;
}
.gettingstarted-bloc-image2{
  margin-left: auto;
  width: 70%;
  
}

.gettingstarted-bloc-titre {
  font-style: italic;
  text-decoration: underline;
  color: #66fcf2
}

