@import 'src/styles/vars';

.gettingstarted{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 15%;
  padding: 2em;
  background-color: black;
  color: $color-bleu-fonce;
}
.gettingstarted-bloc{
  display: inline-block;
}
.gettingstarted-bloc-text{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  top: 50em; 
  left: 25em;
  z-index: 1;
  width: 70%;
  height: 20em;
  background-color: #0b0c10b0;
}
.gettingstarted-bloc-image{
  width: 70%;
}
.gettingstarted-titre {
  font-family: 'Orbitron', sans-serif;
}

.gettingstarted-bloc2{
  display: inline-block;
}
.gettingstarted-bloc-text2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  top: 50em; 
  left: 5em;
  z-index: 1;
  width: 70%;
  height: 20em;
  background-color: #0b0c10b0;
}
.gettingstarted-bloc-image2{
  margin-left: auto;
  width: 70%;
  
}

.gettingstarted-bloc-titre {
  font-style: italic;
  text-decoration: underline;
  color: $color-bleu-fluo
}
