@import 'src/styles/vars';

.eventbar {
  position: fixed;
  right: 0;
  width: 275px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px 8px 0px rgba(173, 170, 170, 0.281);
  height: 100%;
  background-image: url(../../assets/bgtexture.png);
  background-attachment: fixed;
  background-color: $color-gris-fonce;
  color: white;

  &-link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    margin-top: 0;
    padding: 0!important;
    padding: 1em;
    margin: 1em;
  }
  &-link-button {
  margin: 2px;
  width: 40%;

  }
 
  &-eventedition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
    width: 100%;
    margin-top: 1em;
  }

  &-eventlist {
    margin: 1em 0;
    padding: 0 1em;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &-event-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1em 0;
    border-bottom: 1px solid black;

  }

}

.searchEvent{
  padding: 0.2em!important;
}
.createEvent{
  padding: 0.2em!important;
}
.regist, .login {
   margin: 1em;
}

.pOr {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: $color-bleu-fluo;
}
