.eventbar {
  position: fixed;
  right: 0;
  padding: 1em 0;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.20);

  &-logoutbutton {
    font-size: 0.8em;
    margin: 1rem 0 2rem 0;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

  &-eventedition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
    width: 100%;
  }
}
