@import 'src/styles/vars';

.eventbar {
  position: fixed;
  right: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  background-image: url(../../assets/bgtexture.png);
  background-attachment: fixed;
  background-color: $color-gris-fonce;
  color: white;
  z-index: 100;

  &-link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    margin-top: 0;
    padding: 0!important;
    padding: 1em;
    margin: 1em;
  }
  &-link-button {
  margin: 2px;
  width: 40%;

  }
 
  &-eventedition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
    width: 100%;
    margin-top: 1em;
  }

  &-eventlist {
    margin: 1.6em 0;

    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &-event-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1em 0;
    background-image: radial-gradient(circle, #6dffff11 , #6dffff10  , #6dffff00  )!important;

    border-bottom: 1px solid black;

    margin-bottom: .5em;
    margin-top: .5em;
    padding-left: .5em;

  }
  &-event-container i {
   margin-left: .5em;

  }
}

.searchEvent{
  padding-left: 1.1em!important;
  font-size: .9em!important;
}
.createEvent{
  padding-left: 1.1em!important;
  font-size: .9em!important;
}
.regist, .login {
   margin: 1em;
}

.pOr {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: $color-bleu-fluo;
}
.ui.inverted.teal.button, .ui.inverted.teal.buttons .button {
  background-color: transparent!important;
  box-shadow: 0 0 0 1px #6dffff inset!important;
  color: #6dffff!important;
}
